<div class="category-screen">
    <div class="head-wrapper">
        <div class="back-btn">
             <a href="/" class="back-btn">
            <img src="/images/icons8-back-64.png" alt="Back" />
          </a>
        </div>
        <div class="options">
        </div>
    </div> 
</div>

 <div class="category-details">
        <img src="/images/icons8-chart-64.png" alt="" id="category-img">
        <div class="details">
            <h1>Analytics</h1>
        </div>
</div>


<div class="pieC">
    <canvas id="taskPieChart"></canvas>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
