<div class="category-screen">
    <div class="back-btn">
      <a href="/" class="back-btn">
      <img src="/images/icons8-back-64.png" alt="Back" />
      </a>
   </div>

<div class="category-details">
        <img src="/images/icons8-book-64.png" alt="" id="category-img">
        <div class="details">
            <h1>Book Tracker</h1>
        </div>
</div>


<section class="book-search">
    <form>
        <input type="text" id="searchInput" placeholder="Search for a book">
        <button type="submit">Search</button>
    </form>

    <div id="searchResults">

    </div>
</section>

<section class="reading-list">
    <h2>My Reading List</h2>
    <ul id="readingList">

    </ul>

</section>

<!--PLACEHOLDER FOR NOW-->
<section>
    <div class="book-entry">
        <div class="book-details">
            <img src="" alt="Book Cover">
            <div class="info">
                <h2>Title: Book Title</h2>
                <p>Author: Author's Name</p>
                <p>Genre: Fiction</p>
                <p>Source: Bought</p>
                <p>Date Started: 2023-09-01</p>
                <p>Date Finished: 2023-09-15</p>
                <p>Rating: ★★★★☆</p>
                <p>Reading Progress:</p>
                <div class="progress-bar">
                    <div class="progress" style="width: 75%;"></div>
                </div>
            </div>
        </div>

        <div class="notes">
            <h3>Notes and Comments</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>

    <div class="tbr-list">
        <h2>To Be Read (TBR) List</h2>
        <ul>
            <li><a href="#">Book Title 1</a></li>
            <li><a href="#">Book Title 2</a></li>
            <li><a href="#">Book Title 3</a></li>
        </ul>
    </div>

    <div class="challenges">
        <h2>Reading Challenges</h2>
        <p>Reading Goal for 2023: 50 books</p>
        <p>Books Read This Year: 30</p>
    </div>

    <div class="overview">
        <h2>Yearly Overview</h2>
      
    </div>

    <div class="recommendations">
        <h2>Book Recommendations</h2>
        <ul>
            <li><a href="#">Recommended Book 1</a></li>
            <li><a href="#">Recommended Book 2</a></li>
            <li><a href="#">Recommended Book 3</a></li>
        </ul>
    </div>
</section>
</div>