 <div class="container mt-5">
        <h1>Task Categories</h1>
        <ul class="list-group">
            <li class="list-group-item">Home</li>
            <li class="list-group-item">Personal</li>
            <li class="list-group-item">Work</li>
            <li class="list-group-item">Challenges</li>
        </ul>
    </div>