<div class="container mt-5">
  <h1 class="text-center">Task Categories</h1>
  <div class="container text-center">
    <div class="row">
      <div class="col-md-2 col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><a href="/home">Home</a></h5>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><a href="/work">Work</a></h5>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><a href="/personal">Personal</a></h5>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4">
        <div class="card"> 
          <div class="card-body">
            <h5 class="card-title"><a href="/shopping">Shopping</a></h5>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><a href="/health">Health</a></h5>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><a href="challenges">Challenges</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
