<h1>Challenges</h1>

<ul>
    {{#each challenges}}
      <li>
        <h2>{{name}}</h2>
        <p>Difficulty: {{difficulty}}</p>
        <p>Completed: {{completed}}</p>
      </li>
    {{/each}}
  </ul>