<h1>Challenges</h1>
  <ul>
    {{#each decluttering}}
      <li>
        <strong>Name:</strong> {{this.name}}<br>
        <strong>Difficulty:</strong> {{this.difficulty}}<br>
        <strong>Completed:</strong> {{this.completed}}
      </li>
    {{/each}}
  </ul>