<div class="category-screen">
    <div class="head-wrapper">
        <div class="back-btn"></div>
       <div class="options">        
       </div>
    </div>

    <div class="category-details">
        <img src="/images/icons8-money-bag-64.png" alt="" id="category-img">
        <div class="details">
            <p><span class="total-tasks">0</span> tasks</p>
            <h1>Finances</h1>
        </div>
    </div>

     <div class="category-screen">
    <div class="tasks-wrapper">
        <div class="tasks">

            <div class="task-wrapper">
                <label for="task" class="task">

                    <input type="checkbox" name="" id="task">
                    <span class="checkbox">
                        <img src="/images/icons8-check-64.png" alt="">
                    </span>
                    <p class="task-text">pay bills</p>

                </label>

                <div class="edit">
                    <img src="/images/icons8-edit-64.png" alt="Edit">
                </div>

                <div class="delete">
                    <img src="/images/icons8-trash-64.png" alt="trash">
                </div>
            </div>
        </div>
    </div>

    <!-- ADD TASK BUTTON -->
    
    <div class="add-task-btn">
        <img src="/images/icons8-plus-50.png" alt="">
    </div>

    <!-- ADD TASK FORM -->
    <div class="add-task">
        <div class="add-task-backdrop"></div>
        <h1 class="heading">Add Task</h1>
        <div class="input-group">
            <label for="task-input"> Task </label>
            <input type="text" id="task-input" required />
        </div>
        <div class="input-group">
            <label for="category-select"> Category </label>
            <select id="category-select"></select>
        </div>
        <div class="btns">
            <button class="cancel-btn">Cancel</button>
            <button class="add-btn">Add</button>
        </div>
    </div>
</div>


