<div class="category-screen">
    <div class="head-wrapper">
        <div class="back-btn"></div>
       <div class="options">
                   
       </div>
    </div>
    <div class="category-details">
        <img src="/images/icons8-teaspoon-50.png" alt="" id="category-img">
        <div class="details">
            
            <h1>Spoons</h1>
            <p>How many spoons do you have today?</p>
        
            <div class="spoons-input">
            <label for="spoon-count">Number of Spoons: </label>
            <input type="number" id="spoon-count" value="10" min="0">
            </div>
        </div>
    </div>

    <div class="category-screen">
    <div class="tasks-wrapper">
        <div class="tasks">

            <div class="task-wrapper">
                <label for="task" class="task">

                    <input type="checkbox" name="" id="task">
                    <span class="checkbox">
                        <img src="/images/icons8-check-64.png" alt="">
                    </span>
                    <span class="task-spoon-count"></span> <!-- Example spoon count -->
                     <div class="spoon-icons">
                     <img src="/images/icons8-teaspoon-50.png" alt="spoon">
                     <img src="/images/icons8-teaspoon-50.png" alt="spoon">
                     </div>
                    <p class="task-text">pick up meds</p>

                </label>

                <div class="edit">
                    <img src="/images/icons8-edit-64.png" alt="Edit">
                </div>

                <div class="delete">
                    <img src="/images/icons8-trash-64.png" alt="trash">
                </div>
            </div>
        </div>
    </div>

    <!-- ADD TASK BUTTON -->
    
    <div class="add-task-btn">
        <img src="/images/icons8-plus-50.png" alt="">
    </div>

    <!-- ADD TASK FORM -->
    <div class="add-task">
        <div class="add-task-backdrop"></div>
        <h1 class="heading">Add Task</h1>
        <div class="input-group">
            <label for="task-input"> Task </label>
            <input type="text" id="task-input" required />
            <input type="number" id="taskSpoon" placeholder="Spoon cost">
        </div>
        <div class="input-group">
            <label for="category-select"> Category <select name="category">
      <option value="Personal">Personal</option>
      <option value="Health">Health</option>
      <option value="Work">Work</option>
      <option value="Home">Home</option>
      <option value="Shopping">Shopping</option>
      <option value="Education">Education</option>
      <option value="Finances">Finances</option>
      
    </select>
    </label>
            
        </div>
        <div class="btns">
            <button class="cancel-btn">Cancel</button>
            <button class="add-btn">Add</button>
        </div>
    </div>
</div>


    

