<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>


<body>
    <section>
        <a href="/categories">Categories</a>

        <a href="/tasks">Tasks</a>

        <a href="/analytics">Analytics</a>

        <a href="/spoons">Spoons</a>
    </section>
</body>
</html>