<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>


<body>

 
{{#if userInSession}}
  <h2>Welcome, {{ userInSession.username }}!</h2>
  <p>This is your profile page my friend!</p>
  <button>
    <a href="/userProfile">Reload the page</a>
  </button>
{{else}}
  
  <br><p>Still no logged in user, sorry!</p>
 
{{/if}}

    <section>
        <a href="/categories">Categories</a>

        <a href="/tasks">Tasks</a>

        <a href="/analytics">Analytics</a>

        <a href="/spoons">Spoons</a>
    </section>
</body>
</html>